name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
permissions: {}
jobs:
  mega-linter:
    name: Run MegaLinter
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository.
        uses: actions/checkout@v3.5.0
        with:
          fetch-depth: 0
      - name: MegaLinter
        id: MegaLinter
        run: >
          npx -- mega-linter-runner@v6.21.0 
          --remove-container 
          --flavor javascript 
          --release v6.21.0

      
  